header {
    background-color: grey;
    text-align: center;
}

nav {
    background: grey;
    text-align: center;
    color: white;
}

li {
    margin-left: 20px;
    text-decoration: none;
    display: inline-block;
    list-style: none;
}

.amigos {
    background-color: aqua;
}

.familiares {
    background-color: yellowgreen;
}