body {
    background-color: beige;
    padding: 5%;
}

menu {
    border-bottom: blue 10px;
}

.menu li {
    text-decoration: none;
    display: inline;
    margin-right: 3%;
}

.menu a {
    text-decoration: none;
    color: black;
}

.contenido {
    margin-top: 5%;
}

.gartner {
    display: inline-block;
    width: 20%;
    text-align: justify;
    margin-right: 3%;
}

.gartner img {
    height: 180px;
    width: 250px;
}

.p1 {
    font-size: 50 px;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
}

.p2 {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.gartner a {
    text-decoration: none;
}

.ciudades {
    display: inline-block;
    margin-right: 3%;
    width: 20%;
}

.ciudades img {
    height: 180px;
    width: 250px;
}

footer {
    margin-top: 5%;
}

footer img {
    width: 120px;
    margin-right: 1%;
}

.redes {
    margin-top: 5%;
}

.redes p {
    display: inline-block;
    margin-right: 1%;
}

.redes img {
    width: 30px;
}