main {
    background-color: pink;
    text-align: center;
}

header {
    background-color: grey;
    text-align: center;
}

nav {
    background: grey;
    text-align: center;
    color: white;
}

li {
    margin-left: 20px;
    text-decoration: none;
    display: inline-block;
    list-style: none;
}

h2 {
    font-family: fantasy;
}

nav li {
    background: rgb(70, 70, 70);
    color: pink;
    /*para que cmabie de color entones en transition se colocaria ---,color 1s*/
    transition: background 1s;
    /*poner transicion*/
}