header {
    background-color: grey;
    text-align: center;
}

nav {
    background: grey;
    text-align: center;
}

nav a {
    margin-right: 8px;
}

li {
    display: inline-block;
    list-style: none;
    color: white;
}

body {
    text-align: center;
}

table {
    background-color: blueviolet;
}

h3 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: orchid;
}